@{
    <div class="d-flex justify-content-center">
        <my-paging-link current="@Model.CurrentRoute" pages="@Model.TotalPages" type="previous"/>
        <my-paging-link current="@Model.CurrentRoute" pages="@Model.TotalPages" type="page"/>
        <my-paging-link current="@Model.CurrentRoute" pages="@Model.TotalPages" type="next"/>
    </div>
}